@font-face { 
    font-family: 'Inter'; 
     
    src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
   } 
    
   *, 
   *::before, 
   *::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
   } 
    
   :root { 
    --green: hsl(75, 94%, 57%); 
    --white: hsl(0, 0%, 100%); 
    --grey: hsl(0, 0%, 20%); 
    --dark-grey: hsl(0, 0%, 12%); 
    --off-black: hsl(0, 0%, 8%); 
   } 
   body{ 
       font-family: 'Inter',sans-serif; 
       font-size: 14px; 
       font-optical-sizing: auto; 
       font-style: normal; 
       background-color: var(--off-black); 
       color: var(--white); 
       position: relative; 
       min-height: 100vh; 
       display: flex; 
       justify-content: center; 
       align-items: center; 
   } 
   a { 
       text-decoration: none; 
        
   } 
   .list .item a { 
       display: block; 
       padding: 10px; 
       border: 1px solid transparent; 
       transition: border-color 0.3s ease; 
       color: white; 
       background-color: #333; 
       position: relative; 
       border-radius: 8px; 
   } 
   .list .item a::after { 
       content: ''; 
       position: absolute; 
       left: 0; 
       right: 0; 
       bottom: 0; 
       background-color: transparent; 
       transition: background-color 0.3s ease; 
   } 
   .list .item a:hover { 
       color: black; 
       background-color: greenyellow; 
   } 
   img { 
       width: 100%; 
   } 
   ul { 
       list-style: none; 
   } 
   .attribution { 
       display: none; 
   } 
   .profile-card { 
       padding: 1.4rem; 
       padding-bottom: 1.6rem; 
       border-radius: .5rem; 
       background-color: var(--dark-grey); 
       width: 326px; 
       text-align: center; 
   } 
   .profile{ 
       width: 90px; 
       margin: 0 auto; 
       margin-bottom: 1.4rem; 
   } 
   .profile img{ 
       border-radius:100%; 
       width: 100%; 
       height: 100%; 
   } 
   .name { 
       font-size: 1.55rem; 
       margin-bottom: 0.65rem; 
   } 
   .address{ 
       color: var(--green); 
       font-size: 0.85rem; 
       letter-spacing: 0.3px; 
       margin-bottom: 1.75rem; 
   } 
   .description{ 
       margin-bottom: 1.5rem; 
   } 
   .item:not(:last-of-type){ 
       width: 100%; 
       margin-bottom: 1rem; 
   } 
   .card_item-link { 
    display: inline-block; 
    border-radius: 0.5rem; 
    background-color: var(--grey); 
    color: var(--white); 
    font-weight: bold; 
    padding-block: 0.88rem; 
    width: 100%; 
    height: 100%; 
    transition: background .3s, color .3s; 
   } 
    
   .card_item-link:hover { 
    background-color: var(--green); 
    color: var(--off-black); 
   } 
   .card { 
       border: 1px solid var(--white); 
       padding: 2rem 2.5rem; 
    
       border-radius: .5rem; 
       opacity: 0.6; 
       background-color: var(--dark-grey); 
       width: 380px; 
       text-align: center; 
   }