@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --bg-body: hsl(217, 54%, 11%);
  --bg-card: hsl(216, 50%, 18%);
  --bg-green: hsl(178, 100%, 50%);
  --bg-white: hsl(0, 0%, 100%);
  --bg-blue-line: hsl(215, 32%, 27%);

  --ff-body: 'Outfit', sans-serif;
  --ff-headers: 'Outfit', sans-serif;
  --fc-white: hsl(0, 0%, 100%);
  --fc-green: hsl(178, 100%, 50%);
  --fc-soft-blue: hsl(215, 51%, 70%);
}

/* reusable classes */
.flex-container {
  display: flex;
  align-items: center;
}

/* card */
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--bg-body);
  color: var(--fc-soft-blue);

  font-family: var(--ff-body);
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 300;
}

.card-wrapper {
  max-width: 21rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--bg-card);
  padding: 1.5rem;

  display: grid;
  gap: 1.1rem;
}

.card-img {
  height: 17rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.img-wrapper {
  position: relative;
}

.img-wrapper::after {
  font-family: 'FontAwesome';
  content: '\f06e';
  font-size: 4rem;
  height: 100%;
  width: 100%;
  background: var(--bg-green);
  color: var(--fc-white);
  border-radius: 0.5rem;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;

  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper:hover::after {
  opacity: 0.7;
}

.card-title {
  font-family: var(--ff-headers);
  font-size: 1.125rem;
  color: var(--fc-white);
  font-weight: 600;
  transition: all 0.3s;
}

.author {
  font-size: 1rem;
  font-weight: 400;
}

.author-name {
  transition: all 0.3s;
  color: var(--fc-white);
}

.card-title:hover,
.author-name:hover {
  color: var(--fc-green);
}

.card-price {
  justify-content: space-between;
}

.card-price .price {
  font-size: 1rem;
  color: var(--fc-green);
  font-weight: 400;
  gap: 0.5rem;
}

.card-price .time {
  gap: 0.5rem;
  font-size: 1rem;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--bg-blue-line);
}

.author {
  gap: 1rem;
}

.author-img {
  width: 1.7rem;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 1px solid var(--bg-white);
}
